<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">Publications</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>

<div>
    <ul>
        <li><h2>
            <a href = "https://github.com/Arysoltani/RandStrobes">Evaluation of RandStrobes</a>: My Project During My Research in Stokholm University
        </h2></li>
        <li><h2>
            <a href = "https://github.com/Arysoltani/Dex-Transactions-Graph">Dex-Transactions-Graph</a>: The project I did in the time working as a research assistant under supervision of Prof. Bahrak
        </h2></li>
        <li><h2>
            <a href = "https://github.com/Arysoltani/Logic-in-Path-Problem">Logic-in-Path-Problem</a>: Working with Z3 and ASP to solve a graph problem with various approaches.
        </h2></li>
        
    </ul>
</div>

